<article{{ attributes.addClass('mb-10') }}>
  {# Otros campos del párrafo #}
  <h2 class="text-4xl font-bold color-1 mb-5">{{paragraph_block_title}}</h2>
  {# Renderiza la vista incrustada #}
  {{ last_events_view }}
</article>
