.superboletos-node-teaser-8 a div{
  min-height: 500px;
}

.superboletos-node-teaser {
  margin-block-end: inherit !important;
  position: inherit !important;
}

#views-exposed-form-last-events-block-1{
  display: none;
}

.button-selected{
  background-color: white !important;
  color: rgb(31 41 55) !important;
  border: 1px solid rgb(31 41 55);
}

/* Carrusel */

.carrusel-container {
  position: relative;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.carrusel-prev,
.carrusel-next {
  position: relative;
  /* right: -35px; */
  z-index: 1;
  height: 40px;
  width: 40px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  /* -webkit-appearance: button; */
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(80, 77, 211, 0.15);
  box-shadow: 0px 2px 4px rgba(80, 77, 211, 0.15);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  cursor: pointer;
}

.carrusel-prev {
  margin: 0px 5px;
  background-image: url(https://d1y4lmvozupq5z.cloudfront.net/SuperBoletosRepositorio/apps/resources/img/iconos/chevron-left_blue@2x.png);
}

.carrusel-next {
  margin: 0px 5px;
  background-image: url(https://d1y4lmvozupq5z.cloudfront.net/SuperBoletosRepositorio/apps/resources/img/iconos/chevron-right_blue@2x.png);
}

/* Cards st1 */

.card-qeb {
  width: calc(100% - 10px);
  background-color: aquamarine;
  margin: 0 auto;
  height: 85px;
  position: relative;
}

.degradado-style{
  height: 85px;
  background: -o-linear-gradient(180deg, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 5e-05)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 5e-05) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card-qeb .title {
  z-index: 1;
  float: left;
  bottom: 0;
  padding: 19px 20px 19px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFB;
}

/* Text Colors */

.color-1{
  color: #2B2974 !important;
}

/* Modify html with tailwind */

.carrusel-container .container{
  padding-inline: initial !important;
}

